<div class = "container">
<div class = "row">
<div class = "col-md-12">
    
<h>商品編集</h>
 <%= form_with model:@item,url: admin_item_path,method: :patch do |f| %>

<div class = "row">
 <div class = "col-md-8">
  <%= f.label :image ,"商品画像" %>
  <%= f.file_field :image, accept: "image/*",class:"mb-3 mt-3" %>
 </div>
</div>

<div class = "row">
 <div class = "col-md-8">
  <%= f.label :name ,"商品名" %>
  <%= f.text_field :name ,class:"mb-3 mt-3" %>
 </div>
</div>

<div class = "row">
 <div class = "col-md-8">
  <%= f.label :introduction,"商品説明" %>
  <%= f.text_area :introduction ,class:"mb-3 mt-3" %>
 </div>
</div>

<div class="row">
 <div class = "col-md-8">
  <%= f.label :genre_id, "ジャンル" %>
  <%= f.collection_select :genre_id, Genre.all,:id,:name  ,class:"mb-3 mt-3" %>
 </div>
</div>

<div class = "row">
 <div class = "col-md-8">
  <%= f.label :price ,"税抜価格" %>
  <%= f.text_field :price ,class:"mb-3 mt-3"%>円
 </div>
</div>

<div class = "row">
 <div class = "col-md-8">
  <%= f.label :gunre_status ,"販売ステータス" %>
  <%= f.radio_button :gunre_status, "sale" %>
  <%= f.label :genre_status,"販売中" %>
  <%= f.radio_button :gunre_status, "stop" %>
  <%= f.label :genre_status,"販売停止" %>
 </div>
</div>

</div>

<div class = "row">
 <div class = "col-md-4">
   <%= f.submit '変更を保存',class:"btn btn-sm btn-success" %>
  </div>
 </div>
<% end %>
  </div>
 </div>
</div>