
<div class="container">
  <div class="row">
    <div class="col-10">
<h>商品一覧</h>
<%= link_to "商品新規登録",new_admin_item_path %>
<table class = "table mt-10">
  
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id  %></td>
      
      <td>
      <%= link_to admin_item_path(item.id) do %>
      <%= item.name  %>
      <% end %>
      </td>
      
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      
      <% if item.is_active = true %> 
      <td>販売中</td>
      <% else %>
      <td>販売停止中</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <%= paginate @items %>
</table>
</div>
</div>
</div>