<h1>商品新規登録</h1>

<%= form_with model:@item,url: admin_items_path,method: :post do |f| %>

<p>商品画像</p>
<%= f.file_field :image, accept: "image/*",placeholder:"ファイルを選択" %>
<p>商品名</p>
<%= f.text_field:name ,placeholder:"商品名"%>
<p>商品説明</p>
<%= f.text_area:introduction, placeholder:"ここに説明文を記述します"%>
<p>ジャンル</p>
<%= f.collection_select :genre_id, Genre.all,:id,:name %>

<p>税抜価格</p>
<%= f.text_field:price, placeholder:"1000"%>円
<P>販売ステータ</P>
<%= f.radio_button :is_active, "sale" %>
<%= f.label :is_active,"販売中" %>
<%= f.radio_button :is_active, "stop" %>
<%= f.label :is_active,"販売停止" %>

<%= f.submit '新規登録' %>
<% end %>