<h>会員一覧</h>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <%= @customers.each do |customer | %>
    <tr>
      <td><%= customer.id  %></td>
      <%= link_to,admin_customers_path(customer.id) do %>
      <td><%= customer.name  %></td>
      <% end %>
      <td><%  customer.email %></td>
      <td><% customer.is %> </td>
    </tr>
    <% end %>
  </tbody>
  <%= paginate@customers  %>
</table>