<div class="container">
<div class="row">
<div class="col-lg-12">

<h3>注文履歴詳細</h3>

<table class = "table">
 <tbody>
    <tr>
     <td>注文日</td>
     <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <tr>
     <td>配送先</td>
     <td><%= @order.address %></td>
    </tr>
    <tr>
     <td>注文商品</td>
     <td><% @order.order_details.each do |order_detail| %>
      <%= order_detail.item.name %>
      <% end %>
      </td>
    </tr>
    <tr>
     <td>支払金額</td>
     <td><%   %></td>
    </tr>

 </tbody>
</table>

<h3>請求情報</h3>
<table class = "table">
 <tbody>
    <tr>
     <td>商品合計</td>
     <td><%= %></td>
    </tr>
    <tr>
     <td>配送料</td>
     <td>800</td>
    </tr>
    <tr>
     <td>ご請求額</td>
     <td> </td>
    </tr>
 </tbody>
</table>

</div>
</div>
</div>


<div class = "row">
<div class = "col-md-6">

<h3>注文内容</h3>
<table class = "table">
 <thead>
    <tr>
     <th>商品</th>
     <th>単価（税込）</th>
     <th>個数</th>
     <th>小計</th>
    </tr>
 </thead>

<% @order.order_details.each do |order_detail| %>
 <tbody>
    <tr>
     <td><%= order_detail.item.name %></td>
     <td><%= order_detail.price %></td>
     <td><%= order_detail.quantity %></td>
     <td><%= order_detail.price * order_detail.quantity %></td>
    </tr>
  </tbody>
 <% end %>
 </table>
  </div>
  </div>
 
 </div>
 </div>
 </div>